---
site_name: Applied Computing Research Labs
site_url: https://appliedcomputing.io
docs_dir: root
use_directory_urls: false
theme: 
  name: null
  custom_dir: theme
plugins:
  - multirepo:
      keep_docs_dir: true
hooks:
  - hooks/jinja_regex.py
  - hooks/preprocess.py
markdown_extensions:
  - admonition
  - codehilite:
      css_class: highlight
      guess_lang: false
  - footnotes
nav:
  - SimKube: '!import https://github.com/acrlabs/simkube?extra_imports=["README.md"]&config=docs/mkdocs.yml'
