aside {
    grid-column: 1;
    background: var(--black);
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
}

aside h1, aside h2, aside h3 {
    background: #333;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
    border-width: 1px 0;
    border-color: var(--black);
    border-style: solid;
}

aside h1 {
    font-size: 1.2rem;
    padding-left: 5px;
}

aside h2 {
    font-size: 1.10rem;
    padding-left: 10px;
}

aside h3 {
    font-size: 0.9rem;
    padding-left: 15px;
}

.sidebar {
    position: sticky;
    top: 0;
    padding: 0;
    padding-top: 100px;
    height: calc(100vh - 100px);
}

.sidebar ul {
    padding: 0;
    margin: 0;
}
    
.sidebar li {
    list-style: none;
}

.sidebar li a {
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
}

.sidebar li a:hover {
    color: var(--font-grey);
}

.sidebar h1:has(a), .sidebar h2:has(a), .sidebar h3:has(a) {
    background: var(--black);
}

.sidebar h1:has(a:hover), .sidebar h2:has(a:hover), .sidebar h3:has(a:hover) {
    background: white;
}

.content, footer {
    margin: 0 20px;
}

/* Code formatting */
pre {
    overflow-x: auto;
    padding: 10px;
}
