aside {
    margin: 0;
}

aside h1, aside h2, aside h3 {
    background: #333;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
    border-width: 1px 0;
    border-color: var(--black);
    border-style: solid;
}

aside h1 {
    font-size: 1.2rem;
    padding-left: 10px;
}

aside h2 {
    font-size: 1.10rem;
    padding-left: 20px;
}

aside h3 {
    font-size: 0.9rem;
    padding-left: 30px;
}

@media (max-width: 450px) {
    .control {
        display: block;
    }

    aside {
        position: fixed;
        left: calc(-1 * var(--sidebar-width-mobile));
        z-index: 1;
    }
}

.sidebar {
    background: var(--black);
    padding: 0;
    padding-top: 100px;
    height: calc(100vh - 100px);
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar li a {
    width: 100%;
    display: block;
}

.sidebar li a:hover {
    color: var(--font-grey);
}

/* override the grey background for clickable links in the sidebar */
.sidebar h1:has(a), .sidebar h2:has(a), .sidebar h3:has(a) {
    background: var(--black);
}

.sidebar h1:has(a:hover), .sidebar h2:has(a:hover), .sidebar h3:has(a:hover) {
    background: white;
}

.edit {
  margin-top: 75px;
  text-align: center;
  font-size: 0.75rem;
  position: sticky;
  top: calc(100% - 100px);
}

.edit img {
  display: block;
  width: 15%;
  margin: 5px auto;
}

/* controls */

.control a {
    text-decoration: none;
}

#hamburger {
    padding: 10px 0 0 10px;
    margin-bottom: -20px;
}

#hamburger a {
    color: black;
}

#sidebar-close {
    padding: 0;
    position: relative;
    top: -85px;
    left: 175px;
    width: 1rem;
}

#sidebar-close a {
    color: var(--menu-font-color);
}
