header img {
    height: 75px;
}

.headerlink {
    display: inline;
    color: lightgrey;
    text-decoration: none;
    font-size: 80%;
}

aside {
    margin: 0;
}

aside h1, aside h2, aside h3 {
    background: #ddd;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
    color: var(--black);
}

aside h1 {
    font-size: 1.2rem;
    padding-left: 10px;
}

aside h2 {
    font-size: 1.10rem;
    padding-left: 20px;
}

aside h3 {
    font-size: 0.9rem;
    padding-left: 30px;
}


.sidebar {
    padding: 0;
    padding-top: 20px;
    height: calc(100vh - 20px);
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar li a {
    width: 100%;
    display: block;
    color: var(--black);
}

.sidebar li a:hover {
    color: var(--menu-font-color);
}

.sidebar h1:has(a), .sidebar h2:has(a), .sidebar h3:has(a) {
    background: white;
}

.sidebar h1:has(a:hover), .sidebar h2:has(a:hover), .sidebar h3:has(a:hover) {
    background: var(--black);
}

.edit {
  margin-top: 75px;
  text-align: center;
  font-size: 0.75rem;
  position: sticky;
  top: calc(100% - 100px);
}

.edit a {
    color: var(--black);
}

.edit a::after {
  content: url("/img/github-mark-small.png");
  display: block;
  margin: 5px auto;
}

@media (max-width: 450px) {
    .control {
        display: block;
    }

    aside {
        position: fixed;
        left: calc(-1 * var(--sidebar-width-mobile));
        z-index: 1;
    }

    aside h1, aside h2, aside h3 {
        border-width: 1px 0;
        border-color: var(--black);
        border-style: solid;
        background: #333;
        color: var(--menu-font-color);
    }

    .sidebar {
        background: var(--black);
    }

    .sidebar li a:hover {
        color: var(--font-grey);
    }

    .sidebar h1:has(a), .sidebar h2:has(a), .sidebar h3:has(a) {
        background: var(--black);
    }

    .sidebar h1:has(a:hover), .sidebar h2:has(a:hover), .sidebar h3:has(a:hover) {
        background: white;
    }

    .sidebar li a, .edit a {
        color: var(--menu-font-color);
    }

    .edit a::after {
        content: url("/img/github-mark-white-small.png");
    }
}
/* controls */

.control a {
    text-decoration: none;
}

#hamburger {
    padding: 10px 0 0 10px;
    margin-bottom: -20px;
}

#hamburger a {
    color: black;
}

#sidebar-close {
    padding: 0;
    position: relative;
    top: -85px;
    left: 175px;
    width: 1rem;
}

#sidebar-close a {
    color: var(--menu-font-color);
}
