.formelement, .formelement label {
    display: block;
}

.formelement {
    padding: 0 10px 15px 0;
}

.forminline {
    display: inline-block;
}

#result {
    display: none;
    text-align: center;
    margin: 20px 0;
    border: 1px black solid;
    color: black;
}

.error, .success {
    padding: 5px;
    display: block;
}

.error {
    background: darkorange;
}

.success {
    background: lightgreen;
}

.vegetable {
    display: none;
}

.clear {
    clear: both;
}
