.postmeta {
  font-size: 0.85rem;
}

.avatars img {
    float: left;
    max-height: 50px;
}

.rss img {
    float: right;
    max-height: 20px;
}

.authors {
  font-weight: bold;
}

figcaption {
    text-align: center;
    font-size: 0.9rem;
    margin-top: -1rem;
}
