/*
 * Define the following variables in the site and include it with extra_css.  Those
 * CSS files will get prepended to this file:
 *
 * --background-1
 * --background-2
 * --background-reversed
 * --header-background
 *
 * --link-primary
 * --link-secondary
 * --link-hover
 *
 * --font-primary
 * --font-secondary
 * --font-primary-reversed
 * --font-secondary-reversed
 *
 * --table-background-primary
 * --table-background-secondary
 * --table-font-primary
 * --table-font-secondary
 *
 */

/******************************************************* FONTS ********************************************************/
@font-face {
    font-family: "B612";
    src: url(/fonts/B612-Regular.ttf);
}
@font-face {
    font-family: "B612";
    src: url(/fonts/B612-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "B612";
    src: url(/fonts/B612-Italic.ttf);
    font-style: italic;
}


@font-face {
    font-family: "tomorrow";
    src: url(/fonts/Tomorrow-Regular.ttf);
}

/*********************************************** BASE STYLE DEFINITIONS ***********************************************/
:root {
    --content-width: 1296px;
    --section-margin: 66px;
    --subsection-border-radius: 32px;

    --font-size-regular: 24px;
    --font-size-small: 20px;

    --menu-height: 76px;
    --menu-logo-height: 44px;
    --menu-icon-height: 30px;

    --accent-green: #4e8a42;
    --accent-orange: #ec8a3b;
    --accent-purple: #9e70c2;
    --accent-slate: #527a92;

    --table-border-radius: 12px;

    --about-entry-height: 310px;

    background: var(--background-1);
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    font-family: "B612";
    font-size: var(--font-size-regular);
    max-width: var(--content-width);
    color: var(--font-primary);
}

main { margin: 0 auto var(--section-margin) auto; width: 90%; }

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
    font-family: "tomorrow";
    font-weight: normal;
    color: var(--font-secondary);
    margin: 0;
}
h1 { font-size: 48px; margin-bottom: 42px; }
h2 { font-size: 36px; margin-bottom: 30px; }
h3 { font-size: 30px; margin-bottom: 18px; }
h4 { font-size: 24px; margin-bottom: 8px; }

main > h1, main > h2, main > h3, main > h4, main > h5, main > h6 { text-align: center; }
section > h1, section > h2, section > h3, section > h4, section > h5, section > h6 { text-align: center; }

a { color: var(--link-primary); text-decoration: none; }
a:hover { color: var(--link-hover); }

ul { margin: 0 0 24px 0; padding: 0; }
ul li { margin-bottom: 12px; }

header {  background: var(--header-background); }

section, footer {
    /* Make the background colors for these elements span the screen:
     * we set the width to the viewport width, and use "border-box" box
     * sizing to include the padding in the element's content box.  Then
     * we set the padding on either side to 50% of the viewport width minus
     * half of the desired content width.  We have to apply a negative margin
     * since the body uses margin: auto to center things
     */
    width: 100vw;
    box-sizing: border-box;
    padding: var(--section-margin) calc(50vw - var(--content-width) / 2);
    margin-left: min(0px, var(--content-width) / 2 - 50vw);
}

section:nth-of-type(odd) { background: var(--background-2); }
section:nth-of-type(odd) .subsection { background: var(--background-1); }

.subsection {
    border-radius: var(--subsection-border-radius);
    padding: 36px;
    background: var(--background-2);
    margin: 15px 0;
}
/* will do funky things if nested in a section but we don't do that (right now) */
.subsection .subsection { background: var(--background-1); }

.subsection:nth-child(4n+1) h3:not(.icon),
.subsection:nth-child(4n+1) .subsection h3:not(.icon)
    { color: var(--accent-slate); }
.subsection:nth-child(4n+2) h3:not(.icon),
.subsection:nth-child(4n+2) .subsection h3:not(.icon)
    { color: var(--accent-green); }
.subsection:nth-child(4n+3) h3:not(.icon),
.subsection:nth-child(4n+3) .subsection h3:not(.icon)
    { color: var(--accent-orange); }
.subsection:nth-child(4n+4) h3:not(.icon),
.subsection:nth-child(4n+4) .subsection h3:not(.icon)
    { color: var(--accent-purple); }

.subsection ul li { font-size: var(--font-size-small); }
.subsection img { width: 100%; border-radius: var(--subsection-border-radius); }

footer {
    display: flex;
    background: var(--background-reversed);
    color: var(--font-primary-reversed);
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 { color: var(--font-secondary-reversed); }
footer > div {
    flex: 1;
    margin-right: 30px;
}
footer > div:first-child { flex: 1.75; }

footer ul { list-style-type: none; }
footer ul li { margin-bottom: 8px; }

.about .subsection h2 { padding-top: 24px; margin-bottom: 0; }
.about .subsection h3 {
    /* the nth-child rules seem to get evaluated last, even though this is
     * later in the cascade, hence the !important.  Since this is only used
     * in one place I think the !important is OK */
    color: var(--font-secondary) !important;
}
.about .subsection {
    display: flex;
    width: 90%;
    padding: 0;
    margin: 36px auto;
    font-size: var(--font-size-small);
}
.about .subsection img {
    float: left;
    background-color: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: var(--about-entry-height);
    width: var(--about-entry-height);
}
.about .subsection p { margin: 0; padding-right: 24px; }

/******************************************************* LAYOUT *******************************************************/
.flex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 36px auto 0 auto;
}
.subsection .flex { width: 100%; }

.flex > div { flex: 1; margin: 0 15px 0 15px; }
.flex > div:first-child { margin: 0 15px 0 0; }
.flex > div:last-child { margin: 0 0 0 15px; }
.flex.twocols > div {
    flex: 1 35%;
    max-width: 50%;
}
.flex.twocols > div:nth-child(odd) { margin: 0 15px 30px 0; }   /* odds on the left */
.flex.twocols > div:nth-child(even) { margin: 0 0 30px 15px; }  /* evens on the right */

/************************************************ NAVIGATION ELEMENTS *************************************************/

/*
 * It's not 100% clear how all these different pieces are interacting, but
 * this is what I had to do to get the menu to look right.  The height of the
 * menu bar is set to the same as the line-height, which lets the vertical-align: middle
 * field work for the text (however, for some reason it seems not to be needed for the
 * ACRL text on the left).
 *
 * The logo image is manually positioned using margins; however, the github and the
 * light/dark icons couldn't use margins because that pushed the rest of the menu items
 * down, so I manually adjust their position slightly.  It's hacky but seems to look OK.
 */

#menu {
    width: 95%;
    height: var(--menu-height);
    line-height: var(--menu-height);
    border-radius: calc(var(--menu-height) / 2);;
    background: var(--background-reversed);
    margin: 37px auto;
}
#menu a { color: var(--font-secondary-reversed); }
#menu a:hover { color: var(--link-hover); }

#menu .homelink { float: left; font-family: "tomorrow"; font-size: 36px; }
#menu .homelink img {
    height: var(--menu-logo-height);
    margin: calc((var(--menu-height) - var(--menu-logo-height)) / 2) 24px;
    float: left;
}
#menu .homelink a:hover { color: var(--font-secondary-reversed); }

#menu ul { float: right; }
#menu ul li {
    display: inline-block;
    margin-right: 54px;
    vertical-align: middle;
}
#menu ul li:has(img) {margin-right: 24px;}
#menu ul li img {
    position: relative;
    top: 4px;
    height: var(--menu-icon-height);
}

.buttons { display: flex; }
.buttons.center { justify-content: center; }
.buttons a { background: var(--link-primary); }

.buttons .secondary { background: var(--link-secondary); }
.buttons .github, .buttons .rss {
    background: none;
    width: 54px;
    height: 54px;
    padding: 0;
    margin-left: auto;
}
.buttons .github { background-image: url('/icons/gh-project.png'); }
.buttons .rss, .buttons a.rss:hover { background-image: url('/icons/rss.png'); background-position: 3px 1px; }

.buttons a {
    border-radius: 100px;
    color: var(--font-secondary);
    padding: 12px 24px;
    text-align: center;
    vertical-align: middle;
    margin-right: 30px;
}
.buttons.center a, .buttons a:last-child, .buttons .github { margin-right: 0; }
.buttons a:hover { background: var(--accent-orange); color: var(--font-secondary); }
.buttons a.github:hover { background: none; background-image: url('/icons/gh-project-hover.png'); }

/******************************************************* TABLES *******************************************************/
table {
    width: 85%;
    margin: 0 auto var(--section-margin) auto;
    table-layout: fixed;
    font-size: var(--font-size-small);
}

table th { color: var(--font-secondary); font-weight: normal; }
table:nth-of-type(4n+1) th { background: var(--accent-slate); }
table:nth-of-type(4n+2) th { background: var(--accent-green); }
table:nth-of-type(4n+3) th { background: var(--accent-orange); }
table:nth-of-type(4n+4) th { background: var(--accent-purple); }

table th, table td { padding: 12px 24px; }

table td {
    color: var(--table-font-primary);
    background: var(--table-background-primary);
}
table td:first-child {
    color: var(--table-font-secondary);
    background: var(--table-background-secondary);
}

/************************************************** ICONS AND MEDIA ***************************************************/
.icon:before {
    vertical-align: middle;
    display: inline-block;
    width: 34px;
    margin-right: 18px;
}

footer .logo {
    float: left;
    height: 150px;
    margin-right: 18px;
}

.external:after {
    content: url(/icons/external.png);
    margin-left: 12px;
}

.youtube { margin-bottom: 24px; border-radius: 24px; }
