/*
 * Define the following variables in the site and include it with extra_css.  Those
 * CSS files will get prepended to this file:
 *
 * --background-1
 * --background-2
 * --header-background
 * --footer-background
 * --menu-background
 *
 * --link-primary
 * --link-secondary
 * --link-hover
 *
 * --font-primary
 * --font-secondary
 * --footer-font-primary
 * --footer-font-secondary
 * --button-font
 * --menu-font
 *
 */

/******************************************************* FONTS ********************************************************/
@font-face {
    font-family: "B612";
    src: url(/fonts/B612-Regular.ttf);
}
@font-face {
    font-family: "B612";
    src: url(/fonts/B612-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "B612";
    src: url(/fonts/B612-Italic.ttf);
    font-style: italic;
}


@font-face {
    font-family: "tomorrow";
    src: url(/fonts/Tomorrow-Regular.ttf);
}

/*********************************************** BASE STYLE DEFINITIONS ***********************************************/
:root {
    --content-width: 1296px;
    --section-spacing: 66px;
    --subsection-border-radius: 32px;

    --font-size-regular: 24px;
    --font-size-small: 20px;

    --menu-height: 75px;
    --menu-spacing: 36px;
    --menu-logo-height: 44px;
    --menu-icon-height: 30px;

    --accent-green: #4e8a42;
    --accent-orange: #ec8a3b;
    --accent-purple: #9e70c2;
    --accent-slate: #527a92;

    --link-icon-size: 40px;
}

@media (max-width: 1024px) {
    :root {
        --font-size-regular: 18px;
        --font-size-small: 16px;
    }
}

body {
    margin: 0 auto;
    font-family: "B612";
    font-size: var(--font-size-regular);
    max-width: var(--content-width);
    color: var(--font-primary);
    background: var(--background-1);
    overflow-x: hidden;
}

main { margin: 0 auto var(--section-spacing) auto; width: 90%; }

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
    font-family: "tomorrow";
    font-weight: normal;
    color: var(--font-secondary);
    margin: 0;
}
h1 { font-size: 48px; margin-bottom: 42px; }
h2 { font-size: 36px; margin-bottom: 30px; }
h3 { font-size: 30px; margin-bottom: 18px; }
h4 { font-size: 24px; margin-bottom: 8px; }

@media (max-width: 1024px) {
    h1 { font-size: 32px; margin-bottom: 24px; }
    h2 { font-size: 26px; margin-bottom: 20px; }
    h3 { font-size: 20px; margin-bottom: 12px; }
    h4 { font-size: 18px; margin-bottom: 4px; }
}

main > h1, main > h2, main > h3, main > h4, main > h5, main > h6 { text-align: center; }
section > h1, section > h2, section > h3, section > h4, section > h5, section > h6 { text-align: center; }

a { color: var(--link-primary); text-decoration: none; }
a:hover { color: var(--link-hover); }

ul { margin: 0 0 24px 0; padding: 0; }
ul li { margin-bottom: 12px; }

header {  background: var(--header-background); }
.hero { padding-bottom: var(--section-spacing); }

section, footer {
    /* Make the background colors for these elements span the screen:
     * we set the width to the viewport width, and use "border-box" box
     * sizing to include the padding in the element's content box.  Then
     * we set the padding on either side to 50% of the viewport width minus
     * half of the desired content width.  We have to apply a negative margin
     * since the body uses margin: auto to center things
     */
    width: 100vw;
    box-sizing: border-box;
    padding: var(--section-spacing) calc(max(12px, 50vw - var(--content-width) / 2));
    margin-left: min(0px, var(--content-width) / 2 - 50vw);
}

section:nth-of-type(odd) { background: var(--background-2); }
section:nth-of-type(odd) .subsection { background: var(--background-1); }

.subsection {
    border-radius: var(--subsection-border-radius);
    padding: 36px;
    background: var(--background-2);
    margin: 15px 0;
}
/* will do funky things if nested in a section but we don't do that (right now) */
.subsection .subsection {
    background: var(--background-1);
}

@media (max-width: 1024px) {
    .subsection .subsection { flex: 1 1 100%; }
}

.subsection:nth-child(4n+1) h3:not(.icon),
.subsection:nth-child(4n+1) .subsection h3:not(.icon)
    { color: var(--accent-slate); }
.subsection:nth-child(4n+2) h3:not(.icon),
.subsection:nth-child(4n+2) .subsection h3:not(.icon)
    { color: var(--accent-green); }
.subsection:nth-child(4n+3) h3:not(.icon),
.subsection:nth-child(4n+3) .subsection h3:not(.icon)
    { color: var(--accent-orange); }
.subsection:nth-child(4n+4) h3:not(.icon),
.subsection:nth-child(4n+4) .subsection h3:not(.icon)
    { color: var(--accent-purple); }

.subsection ul li { font-size: var(--font-size-small); }
.subsection img { width: 100%; border-radius: var(--subsection-border-radius); }

footer {
    display: flex;
    background: var(--footer-background);
    color: var(--footer-font-primary);
    font-size: var(--font-size-small);
    flex-wrap: wrap;
    gap: 40px;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 { color: var(--footer-font-secondary); }
footer ul { list-style-type: none; }
footer ul li { margin-bottom: 8px; }
footer > div { flex: 1; }  /* clear: both used in the mobile view */

@media (max-width: 1024px) {
    footer > div { flex-basis: 25%; }
    footer > div:first-child {
        flex-shrink: 1;
        flex-basis: 100%;
    }
}
@media (min-width: 1024px) {
    footer > div:first-child { flex: 1.75; }
}

/******************************************************* LAYOUT *******************************************************/
.flex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 36px auto 30px auto;
    gap: 30px;
}
.flex > div { margin: 0; }
.subsection .flex { width: 100%; }

@media (min-width: 1024px) {
    .flex.twocols > div {
        flex: 1 35%;
        max-width: 50%;
    }
}

@media (max-width: 1024px) {
    .flex > div { flex: 1 1 100%; }
}

/************************************************ NAVIGATION ELEMENTS *************************************************/
#menu {
    width: 95%;
    height: var(--menu-height);
    line-height: var(--menu-height);
    border-radius: calc(var(--menu-height) / 2);
    background: var(--menu-background);
    margin: var(--menu-spacing) auto;
}
#menu h2 { display: inline; vertical-align: middle; }
#menu a, #menu h2 { color: var(--menu-font); }
#menu a:hover { color: var(--link-hover); }

#menu .home { float: left;  }
#menu .home img {
    height: var(--menu-logo-height);
    margin: calc((var(--menu-height) - var(--menu-logo-height)) / 2) 24px;
    float: left;
}
#menu .home a:hover { color: var(--menu-font); }

#menu .links { float: right; }
#menu ul { list-style-type: none; }

@media (min-width: 1024px) {
    /*
     * It's not 100% clear how all these different pieces are interacting, but
     * this is what I had to do to get the menu to look right.  The height of the
     * menu bar is set to the same as the line-height, which lets the vertical-align: middle
     * field work for the text (however, for some reason it seems not to be needed for the
     * ACRL text on the left).
     *
     * The logo image is manually positioned using margins; however, the github and the
     * light/dark icons couldn't use margins because that pushed the rest of the menu items
     * down, so I manually adjust their position slightly.  It's hacky but seems to look OK.
     */
    #menu ul li {
        display: inline-block;
        margin-right: 54px;
        vertical-align: middle;
    }
    #menu ul li:has(.icon) { margin-right: 24px; }
    #menu ul li .icon {
        position: relative;
        top: 4px;
        height: var(--menu-icon-height);
    }
}
@media (max-width: 1024px) {
    #menu .hamburger {
        display: inline-block;
        margin-right: 24px;
        vertical-align: middle;
    }
    #menu ul { line-height: normal; }

    .floating {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        border-radius: 12px;
        padding: 0;
        box-shadow: 0 0 5px;
    }
    .floating.open { padding: 12px; }
    .floating li:has(.icon), .floating span:has(.icon) { display: inline; margin-right: 8px; }

    #mainmenu {
        position: absolute;
        background: var(--menu-background);
        width: 150px;
        right: 24px;
        top: 90px;
    }
    #mainmenu.open { border: 2px solid var(--background-2); }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}
.buttons.center { justify-content: center; }

.buttons .secondary { background: var(--link-secondary); }
.buttons .github, .buttons .rss {
    background: none;
    width: var(--link-icon-size);
    height: var(--link-icon-size);
    padding: 0;
    margin-left: auto;
}

.buttons a, button {
    background: var(--link-primary);
    color: var(--button-font);
    border-radius: 100px;
    padding: 12px 24px;
}
.buttons a:last-child, .buttons .github { margin-right: 0; }
.buttons a:hover, button:hover { background: var(--link-hover); color: var(--button-font); }

button {
    border: 0;
    font-family: "B612";
    width: 100%;
    font-size: var(--font-size-normal);
}

/************************************************** ICONS AND MEDIA ***************************************************/
[data-theme="default"] #themeswitcher { content: url(/icons/d2l.png); }
[data-theme="default"] nav .github { content: url(/icons/gh-menu-dark.png); }
[data-theme="default"] .slack { content: url(/icons/slack-menu-dark.png); }
[data-theme="default"] .hamburger { content: url(/icons/hamburger.png); }
[data-theme="alternate"] #themeswitcher { content: url(/icons/l2d.png); }
[data-theme="alternate"] nav .github { content: url(/icons/gh-menu-light.png); }
[data-theme="alternate"] .slack { content: url(/icons/slack-menu-light.png); }
[data-theme="alternate"] .hamburger { content: url(/icons/hamburger-light.png); }

/* we have different github icons for nav versus in-page */
.buttons .github { content: url('/icons/gh-project.png'); }
.buttons a.github:hover { content: url('/icons/gh-project-hover.png'); }
.rss { content: url(/icons/rss.png); }

.hamburger { display: none; }  /* only use hamburger menus on mobile */

.icon:before {
    vertical-align: middle;
    display: inline-block;
    width: 34px;
    margin-right: 18px;
}

footer .logo {
    float: left;
    height: 150px;
    margin-right: 18px;
}

@media (max-width: 1024px) {
    footer img.logo { height: 72px; padding-bottom: 20px; }
}

.external:after {
    content: url(/icons/external.png);
    margin-left: 12px;
    vertical-align: middle;
}

.youtube {
    margin-bottom: 24px;
    border-radius: 24px;
    max-width: 90%;
}
