<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/js/util.js"></script>

    <script type="text/javascript" defer>
        $(document).ready(handle_hamburger);
        $(document).ready(handle_sidebar_close);
    </script>

    {% block extrahead %}
    {% endblock %}

    {%- for path in page.meta.extra_css %}
      <link href="{{ path | url }}" rel="stylesheet">
    {%- endfor %}
  </head>

  <body>
      <aside>
        <div class="sidebar menu">
          {%- block sidebar -%}
          {%- endblock -%}
        </div>
      </aside>

      <main>
        {%- block pre -%}
        {%- endblock -%}
        <header>
          <a href="/"><img src="/img/title.png" alt="Applied Computing Research Labs Logo" /></a>
          <div class="tagline">Open source research and development in distributed systems</div>
        </header>

        <nav class="menu">
          <ul>
            <li><a href="https://blog.appliedcomputing.io/">Blog</a></li>
            <li><a href="/docs.html">Documentation</a></li>
            {%- block github_url -%}
            <li><a href="https://github.com/acrlabs/">GitHub</a></li>
            {%- endblock -%}
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </nav>

        <div class="content">
        {%- block content -%}
        {{ page.content }}
        {%- endblock -%}
        <hr/>
        </div>

        <footer>
          <h3>Black Lives Matter</h3>
          <div class="copyright">Copyright (c) {{ build_date_utc.strftime('%Y') }}  Applied Computing Research Labs, LLC</div>
        </footer>
      </main>
  </body>
</html>
