{% extends "base.html" %}
{% import 'nav-sub.html' as navsub with context %}

{% block css_overrides %}
<link href="/css/docs.css" rel="stylesheet" />
<link href="/css/highlight.css" rel="stylesheet" />
{% endblock %}

{% block pre %}
<div id="hamburger" class="control"><a href="#">☰</a></div>
{% endblock %}

{% block sidebar %}
<div id="sidebar-close" class="control"><a href="#">X</a></div>
{%- for n in nav -%}
  {%- if n.title == page.meta.project -%}
    {%- if n.children | length > 0 -%}
    <ul>
    {%- for nav_item in n.children -%}
      {%- if nav_item.is_section -%}
        <li><h1>{{ nav_item.title }}</h1></li>
        <li>{{ navsub.insert(nav_item, 1) }}</li>
      {%- else -%}
        <li><h1><a href="{{ nav_item.url | url }}">{{ nav_item.title }}</a></h1></li>
      {%- endif -%}
    {%- endfor -%}
    </ul>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{% endblock %}
