{% extends "posts_base.html" %}

{% block content %}
<h1>
  <div class="rss">
    <a href="/feed_rss_created.xml"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Feed-icon.svg/128px-Feed-icon.svg.png" /></a>
  </div>
  Blog Posts
</h1>
<ul>
    {%- for section in nav -%}
    {%- if section.title == "PostList" -%}
        {%- for page in section.children -%}
        <li>{{ page.meta.datetime.strftime("%Y-%m-%d") }} <a href="{{ page.url | url }}">{{ page.title }}</a></li>
        {%- endfor -%}
    {%- endif -%}
    {%- endfor -%}
</ul>
{% endblock %}
