{% extends "base.html" %}

{% block extra_headers %}
{% include "post_header.html" %}
{% endblock %}

{% block content %}
<main class="post">
  <h1>{{ page.title }}</h1>

  <hr>
  <div class="postmeta">
    {%- for author in page.meta.authors -%}
      <img class="avatar" src="/img/people/{{ author }}.png" />
    {%- endfor -%}
    <a class="rss" href="/feed_rss_created.xml"></a>
    <div class="timestamp">Published on: {{ page.meta.datetime.strftime('%b. %-d, %Y @ %H:%M') }}</div>
    <div class="authors">
      Written with ❤️  by {{ ','.join(page.meta.authors) }}
    </div>
  </div>
  <hr>

  <article>
  {{ page.content }}
  </article>
</main>
{% endblock %}
