{% extends "base.html" %}

{% block extra_headers %}
{% include "post_header.html" %}
{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>

<div class="postmeta">
  <hr>
  <div class="avatars">
    {%- for author in page.meta.authors -%}
      <img src="/img/people/{{ author }}.png" />
    {%- endfor -%}
  </div>
  <div class="rss">
    <a href="/feed_rss_created.xml"><img src="/feed_rss_created.xml" /></a>
  </div>
  <div class="timestamp">Published on: {{ page.meta.datetime.strftime('%b. %-d, %Y @ %H:%M') }}</div>
  <div class="authors">
    Written with ❤️  by {{ ','.join(page.meta.authors) }}
  </div>
  <hr class="clear">
</div>

{{ page.content }}

{% endblock %}
