main {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    color: #444;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
    margin-bottom: 5px;
}

/* Nav bar, header */

header a {
    text-decoration: none;
    color: #444;
}

header img {
    width: 100%;
    max-width: 650px;
}

nav {
    background: #222;
}

nav ul {
    display: flex;
    padding: 10px 0 10px 10px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 40px;
}

nav li a {
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    padding: 10px;
}

nav li a:hover {
    color: #444;
    background: white;
}

.tagline {
    text-align: right;
}

.tagline, .copyright {
    font-style: italic;
}

/* Employee list */

.whoami {
    list-style: none;
    padding: 0;
}

.whoami li {
    clear: both;
}

.whoami img {
    float: left;
    margin-right: 10px;
    max-width: 100px;
}

.whoami p {
    margin: 0;
}

/* Contact Form */

.formelement, .formelement label {
    display: block;
}

.formelement {
    padding: 0 10px 15px 0;
}

.forminline {
    display: inline-block;
}

.error {
    display: block;
    text-align: center;
    background: darkorange;
    padding: 5px;
    margin: 20px 0;
    border: 1px black solid;
    color: black;
}

.vegetable {
    display: none;
}

.clear {
    clear: both;
}

